<main class="igx-typography"><form>
<div class="desktop">
<div class="scheduler"><div class="right-panel"><div class="header"><div class="today-button">
<button igxRipple class="today-button-1" igxButton="flat" >TODAY</button>
</div>

<div class="center-vertical-centering-wrapper"><div class="center"><div class="previous-button">
<button igxRipple class="previous-button-1" igxButton="icon" igxRippleCentered="true" >
  <igx-icon>keyboard_arrow_left</igx-icon>
</button>
</div>

<h5 class="igx-typography__h5 a1017-june2019">10-17 June 2019</h5>
<div class="next-button">
<button igxRipple class="next-button-1" igxButton="icon" igxRippleCentered="true" >
  <igx-icon>keyboard_arrow_right</igx-icon>
</button>
</div>

</div>
</div>
<div class="right"><div class="search-icon">
<igx-icon 
>
search</igx-icon>
</div>

<div class="period-combo">
<igx-combo type="box" 
class="period-combo-1" placeholder="Week" >
</igx-combo>
</div>

</div>
</div>
<div class="body"><div class="hour-marks"><span class="igx-typography__caption a1100">11:00</span>
<span class="igx-typography__caption a1200">12:00</span>
<span class="igx-typography__caption a100">1:00</span>
<span class="igx-typography__caption a200">2:00</span>
<span class="igx-typography__caption a300">3:00</span>
<span class="igx-typography__caption a400">4:00</span>
<span class="igx-typography__caption a500">5:00</span>
<span class="igx-typography__caption a600">6:00</span>
</div>
<div class="list1"><div class="day1"><h2 class="igx-typography__h2 a10">10</h2>
<span class="igx-typography__subtitle-1 mon">MON</span>
</div>
<div class="item1"><span class="igx-typography__subtitle-1 primary-text">Weekly Planning</span>
<span class="igx-typography__body-2 secondary-text">Mercury Huddle</span>
</div>
<div class="item2"><span class="igx-typography__subtitle-1 primary-text-1">Lunch</span>
</div>
</div>
<div class="list2"><div class="day2"><h2 class="igx-typography__h2 a11">11</h2>
<span class="igx-typography__subtitle-1 tue">TUE</span>
</div>
<div class="item1-1"><span class="igx-typography__subtitle-1 primary-text-2">Calvin 1:1</span>
<span class="igx-typography__body-2 secondary-text-1">Mercury Huddle</span>
</div>
<div class="item2-1"><span class="igx-typography__subtitle-1 primary-text-3">Lunch</span>
</div>
</div>
<div class="list3"><div class="day3"><div class="oval">
</div>
<h2 class="igx-typography__h2 a12">12</h2>
<span class="igx-typography__subtitle-1 wed">WED</span>
</div>
<div class="item1-2"><span class="igx-typography__subtitle-1 primary-text-4">Project Gamma</span>
<span class="igx-typography__body-2 secondary-text-2">Jupiter Meeting R...</span>
</div>
<div class="item2-2"><span class="igx-typography__subtitle-1 primary-text-5">Lunch</span>
</div>
<div class="item3"><span class="igx-typography__subtitle-1 primary-text-6">Kimberley 1:1</span>
<span class="igx-typography__body-2 secondary-text-3">Mercury Huddle</span>
</div>
<div class="item4"><span class="igx-typography__subtitle-1 primary-text-7">Weekly Operati...</span>
<span class="igx-typography__body-2 secondary-text-4">Neptune Meeting...</span>
</div>
<div class="item5"><span class="igx-typography__subtitle-1 primary-text-8">Gamma Bluepr...</span>
<span class="igx-typography__body-2 secondary-text-5">Reminder</span>
</div>
</div>
<div class="list4"><div class="day4"><h2 class="igx-typography__h2 a13">13</h2>
<span class="igx-typography__subtitle-1 thu">THU</span>
</div>
<div class="item"><span class="igx-typography__subtitle-1 primary-text-9">Lunch</span>
</div>
</div>
<div class="list5"><div class="day5"><h2 class="igx-typography__h2 a14">14</h2>
<span class="igx-typography__subtitle-1 fri">FRI</span>
</div>
<div class="item1-3"><span class="igx-typography__subtitle-1 primary-text-10">Lunch</span>
</div>
<div class="item2-3"><span class="igx-typography__subtitle-1 primary-text-11">User Testing</span>
<span class="igx-typography__body-2 secondary-text-6">Usability Lab</span>
</div>
</div>
<div class="list6"><div class="day6"><h2 class="igx-typography__h2 a15">15</h2>
<span class="igx-typography__subtitle-1 sat">SAT</span>
</div>
<div class="background">
</div>
</div>
<div class="list7"><div class="day7"><h2 class="igx-typography__h2 a16">16</h2>
<span class="igx-typography__subtitle-1 sun">SUN</span>
</div>
<div class="background-1">
</div>
</div>
</div>
</div>
</div>
</div></form></main>
